#col2 {
	visibility: hidden;
}

.container {
	overflow: hidden;
}

/* Tab */
div.tab {
	border-radius: 10px 10px 0 0;
	background-color: #f1f1f1;
	display: flex;
	overflow: hidden;
}

.tablinks {
	flex: 1;
}

/* Buttons inside tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Hover on buttons */
div.tab button:hover {
    background-color: #ddd;
}

/* Active/current tablink */
div.tab button.active {
    background-color: #999;
}

.tabcontent {
	background: white;
	border-radius: 0 0 10px 10px;
	color: black;
    padding: 6px 12px;
    border: 1px solid #ccc;
	border-top: none;
	overflow: hidden;
}

#col3 {
	max-height: 100vh;
}

#WorkHistory {
	display: none;
}

@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 833px) {
	
	body {
		background-image: url(mini.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: white;
		height: 100vh;
		width: 100vw;
		overflow: scroll;
	}
	#NameTitle {
		font-size: 65px;
	}
	#Roles {
		font-size: 20px;
	}
	#col1 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 47%;
	}
	.little {
		visibility: visible;
	}
	#col2 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 2%;
	}
	#col3 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 51%;
	}
  }

@media only screen 
	and (min-device-width: 834px) 
	and (max-device-width: 1399px) {

	body {
		background-image: url(mini.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: white;
		height: 100vh;
		width: 100vw;
		overflow: scroll;
	}
	#NameTitle {
		font-size: 120px;
	}
	#Roles {
		font-size: 34px;
	}
	#col1 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 30%;
	}
	.little {
		visibility: visible;
	}
	#col2 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width:15%;
	}
	#col3 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 55%;
	}
}

@media only screen 
	and (min-device-width: 1440px)
	and (max-device-width: 2000px) {

	body {
		background-image: url(PS.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: white;
		height: 100vh;
		width: 100vw;
		overflow: scroll;
	}	
	#NameTitle {
		font-size: 123px;
	}
	#Roles {
		font-size: 35px;
	}
	#col1 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 26%;
	}
	.little {
		visibility: hidden;
	}
	#col2 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 36%;
	}
	#col3 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 38%;
	}
}

@media only screen
	and (min-device-width: 2001px) {

	body {
		background-image: url(PS.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: white;
		height: 100vh;
		width: 100vw;
		overflow: scroll;
	}
	#NameTitle {
		font-size: 190px;
	}
	#Roles {
		font-size: 57px;
	}
	#col1 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 26%;
	}
	.little {
		visibility: hidden;
	}
	#col2 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 36%;
	}
	#col3 {
		border-radius: 0px;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 38%;
	}
}

.row {
	background: none;
}

footer {
	clear: both;
}